.container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.image {
    width: 20%;
    float: left;
    padding-right: 20px;
}

.bold1 {
    font-weight: bold;
}

.masters {
    font-style: italic;
}

.first {
    font-weight: bold;
    text-decoration: underline;
}

.cosplay {
    text-decoration: line-through;
}

.city {
    font-style: italic;
}

.mail {
    font-weight: bold;
}

.rslogo {
    width: 10%;
    float: left;
}