.bold1 {
    font-weight: bold;
}

.masters {
    font-style: italic;
}

.first {
    font-weight: bold;
    text-decoration: underline;
}

.cosplay {
    text-decoration: line-through;
}

.city {
    font-style: italic;
}

.mail {
    font-weight: bold;
}